
<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="aboutModalLabel">About</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The Pomodoro Technique is a time management method that's all about giving yourself a break from work -
        literally! Here's how it works: you work for 25 minutes straight, like a boss, then take a 5-minute break to do
        whatever you want. Whether it's making a cup of tea, doing a quick dance, or petting a cat, the important thing
        is to step away from your work and give your brain a break. After 4 of these work-break cycles, you can take a
        longer break, like 15 minutes. It's like taking a time-out from the game of life to recharge your batteries. Who
        says productivity can't be fun? So give it a try, it's like a mini vacation for your brain!
      </div>

    </div>
  </div>
</div>
