/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import 'bootstrap/scss/bootstrap';
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  font-family: "Chillax-Regular";
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-hover-bg: transparent;
}
li{
  font-family: "Chillax-Regular";

}
body {
  height: 100vh;
  // background: radial-gradient(red, #fc8f8f);
  // background: #051cea;
  font-family: "Chillax-Bold";
}

.navbar-nav{
  align-items: center;
}

.set{
  cursor: pointer;
}

[data-bs-theme="dark"] {
  // --bs-body-color: var(--bs-white);
  // --bs-body-color-rgb: #{to-rgb($white)};
  // --bs-body-bg: var(--bs-blue);
  // --bs-body-bg-rgb: #{to-rgb($blue)};
  // --bs-tertiary-bg: #{$blue-600};

  // .dropdown-menu {
  //   --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
  //   --bs-dropdown-link-active-bg: #{$blue-700};
  // }

  // .btn-secondary {
  //   --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
  //   --bs-btn-border-color: #{rgba($white, .25)};
  //   --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
  //   --bs-btn-hover-border-color: #{rgba($white, .25)};
  //   --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
  //   --bs-btn-active-border-color: #{rgba($white, .5)};
  //   --bs-btn-focus-border-color: #{rgba($white, .5)};
  //   --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
  // }
  .modal{

    // --bs-modal-bg:#495057;
    --bs-modal-color:#f8f9faa6;
    font-family:"Chillax-Regular"
  }
}
